@section Styles
{
    <style>
        thead{
            background-color:maroon;
            color:white;
        }
    </style>
}

<div id="app" class="container">
    <div class="form-group">
        <!--篩選-->
    </div>
    <div class="form-group">
        <!--新增員工記錄按鍵-->
    </div>
    <div class="form-group">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <td>編輯</td>
                    <td>EmployeeId</td>
                    <td>FirstName</td>
                    <td>LastName</td>
                    <td>Title</td>
                </tr>
            </thead>
        </table>
    </div>
    <!--新增員工記錄的畫面-->
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

    </script>
}